*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
/* utility*/
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.margin-auto{
    text-align: center;
    margin: 0 auto;
}



/* utility specifiche*/
.header-size{
    height: 5em;
}

.nav-size{
    height: 100%;
    width: 100%;
    padding: 1rem 0;
}

.no-style{
    list-style: none;
}

.main-button{
    background-color: #0061ff;
    color: white;
    padding: .5rem 1rem;
}


/* selettori tramite tipo*/
nav>ul{
    font-size: 1.3rem;
}

section.container-big{
    height: 740px;
    background-color: #b4d0e7;
}

img{
    size: 50%;
}